@media only screen and (min-width:320px) and (max-width:800px) {

  .modal_sklad {
    display: none;
    width: 100%;
    left: 0;
    top: 56px;
  }

  .button_adaptive {
    width: auto;
  }

  .acc_nav {
    left: 10px;
  }

  .tlabel {
    position: absolute;
    top: 25px !important;
    left: 0;
    transition: .15s ease-in-out;
    color: #a0a0a6;
    pointer-events: none;
    font-size: 14px;
  }

  .tinput:focus ~ label {
    font-size: 14px;
    top: 25px !important;
  }

  //.tinput:valid ~ label {
  //  font-size: 14px;
  //  top: 25px !important;
  //}

  .tinput:focus ~ label{
    font-size: 9px;
    top: 5px !important;
  }

  .tinput:focus ~ label.t_label_adaptive {
    font-size: 9px;
    top: auto !important;
  }

  .label_in .array_down,
  .label_in .search {
    bottom: 17px;
  }

  .check_block {
    width: 25%;
    margin-top: 20px;
  }

  //.title_total {
  //  width: max-content;
  //}

  .component_tags {
    margin: 0 0 25px 0;

    &_adaptive {
      margin-bottom: 0;
    }
  }

  .modal_line .nav_links {
    width: 100%;
  }

  .left_menu_top {
    display: block;
  }

  .left_menu {
    display: none;
    width: 70%;
    overflow: scroll;

    .nav {
      text-align: left;

      ul li a:not(.adaptive) {
        background: url(../images/array_down.png) no-repeat 100% center;
      }

      ul li a.adaptive {
        background: url(../images/array_top.png) no-repeat 100% center;
        color: #383A41;
      }
    }

    .ico {
      width: auto;
    }

    .ico_t {
      display: block
    }
  }

  .left_menu .nav ul li a.adaptive {
    display: block
  }

  .lhid {
    display: block;
  }

  .small_logo {
    display: none;
  }

  .nav {
    text-align: left;
  }

   .left_menu:hover {
     width: 70%;
   }

  .footer {
    padding-left: 20px;

    &_line a {
      display: block;
      margin-bottom: 10px;
    }
  }

  .footer_line:hover .modal_line {
    display: none;
  }

  .footer_line:hover .title_line {
    display: block;
  }

  .modal_line.active {
    display: block !important;
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    height: auto;
    z-index: 999;
  }

  .title_line_t.search {
    background: #fff url(../images/s_i.svg) no-repeat 95% center;
    //float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .title_line_t.filter {
    background: url(../images/filt.svg) no-repeat 95% center;
    padding-left: 20px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  .title_line_t.transfer {
    background: url(../images/transfer.svg) no-repeat 95% center;
    float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    height: 20px;
    line-height: 22px;
  }

  .modal_line.active .sortblock_param {
    float: left;
    width: 100%;
    margin-bottom: 0;
  }

  .r_p {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .l_p {
    float: left;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 24px;
    line-height: 24px;
  }

  .label_in {
    position: relative;
    padding: 10px 0;
  }

  .w50.last {
    margin-left: 0;
  }

  .content {
    float: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 0;
    max-width: 100%;
  }

  .c_head {
    position: relative;
    width: 100%;
    height: 40px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;

    &_a {
      margin-bottom: 35px;
    }

    &_adaptive {
      margin-bottom: 0;
    }
  }

  .c_head a {
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
  }

  .component_head {
    width: 100%;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    float: left;
    color: #383A41;
    padding-right: 20px;
    box-sizing: border-box;

    .nav_links a {
      width: 100%;
    }
  }

  .component_body {
    padding-bottom: 30px !important;
  }

  .component_body_open {
    margin-bottom: 0;
  }

  .brd_green {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #32AAA7;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .for_adaptive {
    display: block;
  }

  .without_adaptive {
    display: none;
  }

  .component {
    position: relative;
    padding-top: 20px;
    float: left;
    width: 100%;
    padding-bottom: 120px;

    &_adaptive {
      padding-top: 0;
    }
  }

  .middle_part {
    float: left;
    width: 100%;
    overflow: scroll;
  }

  .middle_part_tooltip {
    overflow: scroll;
  }

  .component_head_sort label {
    font-size: 12px !important;
    line-height: 12px !important;
    color: #9A9A9A !important;
  }

  .component_head_sort {
    width: 100%;

    &_adaptive {
      margin-bottom: 15px;
    }
  }

  .f_part {
    padding-bottom: 0px;
  }

  .line_param_input.short {
    width: 100%;
    margin-right: 0;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .bgs {width: 100% !important;
    font-size: 16px !important;
  }

  body.fixed {
    overflow:hidden
  }

  body.hidden {
    overflow: hidden;
  }

  .modal_calend {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: none;
    top: 0;
    z-index: 99999;
    height: 100%;
    overflow: scroll;
  }

  .modal_calend_inner {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    padding-right: 5%;
    box-sizing: border-box;
    padding-bottom: 100px;
  }

  .modal_calend_left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .close_clnd {
    right: 40px;
    z-index: 9999;
  }

  .content.login .nav_links {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;
  }

  .otch_p.shorttable {
    width: 90%;
  }

  .reda .hidden_component {
    display: block;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .r_p.regak {
    float: left;
    width: 100%;
    padding-right: 5%;
    box-sizing: border-box;
  }

  .content.login .component {
    margin: 0 auto;
    width: 90%;
  }

  .line_param {
    margin-bottom: 10px;
  }

  .sortblock_param {
    float: left;
    width: 100%;
    margin-bottom: 0;

    &_adaptive {
      margin: 25px 0;
    }
  }

  .nav_top {
    width: 100%;
    float: left;
    margin: 15px 0;
    padding-right: 20px;
    box-sizing: border-box;

    &_adaptive {
      li {
        clear: both;
        margin: 5px 0;
      }
    }
  }

  .header .acc_n_ico {
    margin-left: 0;
  }

  .header .acc_b_menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    float: right;
  }

  .header .acc_b {
    position: relative;
    width: 100%;
    margin-right: 0;
    float: left;
  }

  .header .acc_n {
    float: left;
    margin-left: 20px;

    &_text {
      float: right;
      margin-left: 15px;
    }
  }

  .nav_links {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding-right: 20px;
  }

  .nav_links_t {
    width: 94%;
    padding-right: 0;
  }

  .modal_check_block {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 20px;

    &:last-child {
      text-align: left !important;

      label {
        margin-left: 20px !important;
      }
    }
  }

  .closebig {
    right: 20px;
  }

  .component_warning {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .pr_names {
    font-size: 20px;
    margin-right: 15px;
  }

  .line_param_input {
    position: relative;
    width: 100%;
  }

  .line_param_input_t {
    width: 100%;
    float: left;

    &:nth-of-type(2) {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  .select_one {
    margin-right: 15px;
  }

  .modal_send {
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: FuturaPT-Book;
    bottom: 0;
    left: 0;

    h2 {
      font-size: 20px;
    }

    .l_p,
    .r_p {
      display: none;
    }

    .l_p_adaptive {
      display: block;
    }
  }

  .modal_view,
  .modal_partner {
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: FuturaPT-Book;
    top: 54px;
    left: 0;
  }

  .modal_line_catalog,
  .modal_line_nakl {
    top: 20px;
  }

  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 58, 65, 0.8);
    z-index: 11;
  }

  .month_select {
    margin: 15px 0;
  }

  .title_adaptive {
    margin-top: 20px;
  }

  .component_head_cart_l,
  .component_head_cart_r {
    width: 100%;
  }

  .component_head_cart_l .cart_line_param,
  .component_head_cart_r .cart_line_param {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
  }

  .line_param_cart-edit,
  .line_param_cart {
    position: relative;
    padding-bottom: 40px;

    .l_p_cart,
    .c_p_cart {
      margin-bottom: 25px;
    }

    .r_p_cart {
      position: absolute;
      bottom: 15px;
      left: 30px;
      right: 0;
      top: auto;
    }
  }

  .line_param_cart-edit .l_p_cart,
  .line_param_cart-edit .c_p_cart,
  .line_param_cart .l_p_cart,
  .line_param_cart .c_p_cart{
    display: block;
    position: relative;
    width: 100%;
  }

  .l_p_cart_adaptive,
  .r_p_cart_adaptive {
    width: 48%;
  }

  .r_p_cart_adaptive {
    padding-right: 0;

    .nav_links {
      display: none;
    }
  }

  .cart_sub_title {
    margin: 12px 0;
  }

  .nav_links_adaptive {
    display: block;
    padding-right: 0;
  }

  .footer_line a.footer_line_link {
    margin-right: 0;
  }

  .footer_line_adaptive {
    text-align: left;
  }

  .noscroll {
    display: block;
    overflow: hidden;
  }

  .add_sklad_adaptive {
    display: block;
  }

  .block_three_column {
    margin-top: 0;
    padding-right: 0;
  }

  .label_in_three_column,
  .label_in_three_column:last-child {
    width: 100%;
    padding: 10px 0;
  }

  .tlabel_adaptive {
    top: 24px !important;
  }

  .t_label_adaptive {
    top: auto !important;
  }

  .block_nopadding {
    padding-right: 0 !important;
  }
}

